In [2]:
#example string
s = "this is My First Python programming class and i am learNING python string and its function"
print(s)

this is My First Python programming class and i am learNING python string and its function

In [3]:
#1  extract data from idex
print(s[0:300:3])

tssyityopgmncsa alrNph rgni ni

In [4]:
#2 reverse a string
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [9]:
print(s)

this is My First Python programming class and i am learNING python string and its function

In [33]:
# 3 split and and convert string into upper
s = "this is My First Python programming class and i am learNING python string and its function"
print(s)

this is My First Python programming class and i am learNING python string and its function

In [34]:
print(s.upper())

THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION

In [36]:
print( s.split() )
print(s)

['this', 'is', 'My', 'First', 'Python', 'programming', 'class', 'and', 'i', 'am', 'learNING', 'python', 'string', 'and', 'its', 'function']
this is My First Python programming class and i am learNING python string and its function

In [37]:
print(s.upper().split())

['THIS', 'IS', 'MY', 'FIRST', 'PYTHON', 'PROGRAMMING', 'CLASS', 'AND', 'I', 'AM', 'LEARNING', 'PYTHON', 'STRING', 'AND', 'ITS', 'FUNCTION']

In [38]:
s

'this is My First Python programming class and i am learNING python string and its function'

In [39]:
#4 covert lowercase
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [40]:
#5 capitalize the string
print(s.capitalize())

This is my first python programming class and i am learning python string and its function

In [1]:
s1 = '315'
s1.isalnum()

True

In [2]:
s2 = 'fhj57ghe9ofg'
s2.isalpha()

False

In [4]:
s3 = 'keziya'
s3.isalpha()

True

In [ ]:
#6 Write a diference between isalnum() and isalpha()?
ans: the differnce betwwen isalnum() and isalpha() is 
isalnum() = Returns True if the string has only letters and numbers
isalpha() = Returns True if the string has only letters

In [44]:
#7 expand tab
s="keziya\trani\tyepuri" #here \t is used to get space betwwen word 
s.expandtabs() # in ouput it \t replace with space

'keziya  rani    yepuri'

In [52]:
#8 strip,lstrip,rstrip
s = "  keziya yepuri  "
s.strip() #it removes space from left and right of the string

'keziya yepuri'

In [53]:
s = "  keziya yepuri  "
s.lstrip() #remove left side of space but not in right

'keziya yepuri  '

In [54]:
s.rstrip() #removes right side of space but not in left

'  keziya yepuri'

In [57]:
#9 performing replace function
s = "aimnxt"
print(s)

aimnxt

In [58]:
s.replace('t','y') #here t replace with y

'aimnxy'

In [61]:
#10 def center method is used to put a string in middle of space 
s = "aimnext"
print(s.center(10))

 aimnext

In [ ]:
#11 ans
compiler is used to transulate the high level language into machine language at once 
interpretor is used to  transulate and run the code in line by line it is slower than compiler

In [ ]:
#12 ans
Python is a interpreted and the python runs the code in line by line
and it is easy to test and debug in Python

In [ ]:
#13 ans
python is used in data science to visualize and find insights from large dataset using charts and graphs