Create a list of squares of numbers from 1 to 10 using list comprehension.

In [4]:
l=[1,2,3,4,5]
[i**2 for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

Generate a list of even numbers from 1 to 20 using list comprehension.

In [7]:
l=[]
[i for i in range(1,20) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

Create a list of the first letters of each word in the list: ["apple", "banana", "cherry", "date"].

In [18]:
l =["apple", "banana", "cherry", "date"]
letter=[word[0] for word in l]
print(letter)

['a', 'b', 'c', 'd']

Convert a list of temperatures in Celsius [0, 10, 20, 30, 40] to Fahrenheit using list comprehension. (Formula: F = (C * 9/5) + 32)

In [20]:
celsius = [0, 10, 20, 30, 40]
fahrenheit = [(c * 9/5) + 32 for c in celsius]
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

Create a list of the first 10 natural numbers using list comprehension.

In [21]:
l=[]
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Generate a list of cubes of numbers from 1 to 10.

In [4]:
l=[i**3 for i in range(1,11)] 
print(l)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Extract the first character from each word in the list: ["apple", "banana", "cherry", "date"].

Given a string "Python is fun", create a list of words in the string.

In [6]:
s="python is fun"
[word for word in s.split()]

['python', 'is', 'fun']

Convert a list of strings ["Hello", "World", "Python"] to uppercase using list comprehension.

In [11]:
s= ["Hello", "World", "Python"]
[word.upper() for word in s]

['HELLO', 'WORLD', 'PYTHON']

Create a list of numbers from 1 to 50 that are divisible by both 3 and 5.

In [14]:
[i for i in range(1,50) if i%3==0 and i%5==0]

[15, 30, 45]

Given a list of numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], create a new list containing only the odd numbers.

In [20]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1 = [i for i in l if i % 2 != 0]
print(l1)

[1, 3, 5, 7, 9]

Given a string "hello world", create a list of vowels present in the string.

In [24]:
s="hello world"
vowels="aeiou"
list=[char for char in s if char in vowels]
print(list)

['e', 'o', 'o']

Convert a list of words ["Hello", "WORLD", "Python", "LiSt"] to lowercase using list comprehension.

In [25]:
s=["Hello", "WORLD", "Python", "LiSt"]
[word.lower() for word in s]

['hello', 'world', 'python', 'list']

Create a list of even numbers from 1 to 50.

In [27]:
list=[i for i in range(1,51) if i%2==0]
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

Generate a list of numbers from 1 to 20 that are not divisible by 3.

In [31]:
list=[i for i in range(1,21) if i%3!=0]
print(list)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20]

Create a list of squares of only the even numbers from 1 to 10.

In [33]:
square=[i**2 for i in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Given a list of words ["dog", "elephant", "cat", "rabbit"], create a new list containing only words with more than 3 letters.

In [37]:
words=["dog", "elephant", "cat", "rabbit"]
new=[word for word in words if len(word)>3]
print(new)

['elephant', 'rabbit']