In [1]:
#21.Create a tuple of three colors and print it.
t = ("green","blue","black")

In [2]:
t

('green', 'blue', 'black')

In [3]:
type(t)

tuple

In [5]:
#22.Print the second element of a given tuple.
t[1]

'blue'

In [8]:
#Try changing an element in a tuple (observe the error).
t = ("green","blue","black")
t[1]="yellow" # because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [10]:
#24.Convert a tuple to a list and print it.
t = ("green","blue","black")
t2=list(t)

In [11]:
t2

['green', 'blue', 'black']

In [12]:
type(t2)

list

In [14]:
#25.Check if "blue" exists in a given tuple.
t = ("green","blue","black")
"blue" in t

True

In [17]:
#26.Print each element of a tuple using a loop.
t = ("green","blue","black")
for color in t:
    print(color)

green
blue
black

In [18]:
#27.Merge two tuples and print the result.
t=(1,5,3,8,4)
t1=(2,8,4,9,6)
t2=t+t1

In [19]:
t2

(1, 5, 3, 8, 4, 2, 8, 4, 9, 6)

In [20]:
#28.Print a tuple in reverse order.

t=(1,5,3,8,4)
t[::-1]

(4, 8, 3, 5, 1)

In [31]:
29.Find the length of a tuple without using len().

31

In [33]:
#29.Find the length of a tuple without using len().
t = (1, 3, 2, 4, 5, 6, 7, 7, 8)

c = 0
for i in t:
    c += 1

print("Length of tuple:", c)

Length of tuple: 9

In [36]:
#30.Create a tuple with a single element and print its type.
t=( "keziya",)
type(t)

tuple

In [38]:
#31.Create a string "Hello, World!" and print only "World!".
s = ("Hello, World!")
s[7:]

'World!'

In [39]:
#32.Convert "Python is fun" to "PYTHON IS FUN" without using .upper().
s = "Python is fun"
result = ""

for ch in s:
    if ch >= 'a' and ch <= 'z':
        result += chr(ord(ch) - 32)
    else:
        result += ch

print(result)

PYTHON IS FUN

In [41]:
#33.Count how many words are in "I love learning Python" (without using .split()).
s = "I love learning Python"
count = 1  

for ch in s:
    if ch == " ":
        count += 1

print( count)

4

In [42]:
#34.Take a string input from the user and check if it starts with "Hello".
s = input()

if s[0:5] == "Hello":
    print("Yes")
else:
    print("No")

 Hello guys

Yes

In [43]:
#35.Print every second character of a string.
s = "python is fun"
s[::2]

'pto sfn'

In [45]:
#36.Replace all vowels in a string with "*".
s = "keziya"
vowels = "aeiou"
result = ""
for ch in s:
    if ch in vowels:
        result += "*"
    else:
        result += ch
print(result)

k*z*y*

In [46]:
#37.Swap the first and last character of a string.
s = "keziya"
new_s = s[-1] + s[1:-1] + s[0]
print(new_s)

aeziyk

In [47]:
#38.Check if two given strings are the same (case-sensitive).
s1 = "Hello"
s2 = "hello"

if s1 == s2:
    print("Strings are the same")
else:
    print("Strings are different")

Strings are different

In [48]:
#39.Print a string without the first and last character.
s = "keziya"
s[1:-1]

'eziy'

In [49]:
#40.Convert a string "12345" into a list of individual characters.
s = "12345"
s2 = list(s)
print(s2)

['1', '2', '3', '4', '5']

In [53]:
#41.Create a list of five cities and print only the last three.
l = ["AP","TN","TL","DELHI","MI"]
l[2:]

['TL', 'DELHI', 'MI']

In [60]:
#42.Remove the middle element from a list of five elements.
l = ["AP","TN","TL","DELHI","MI"]
l.pop(2)
l

['AP', 'TN', 'DELHI', 'MI']

In [64]:
#43.Take five numbers from the user and store them in a list.
numbers = []

for i in range(5):
    num = int(input("Enter a number: "))
    numbers.append(num)

print("List of numbers:", numbers)

Enter a number:  10
Enter a number:  20
Enter a number:  30
Enter a number:  40
Enter a number:  50

List of numbers: [10, 20, 30, 40, 50]

In [70]:
#44.Find the index of "apple" in the list ["banana", "orange", "apple", "grape"].
l = ["banana", "orange", "apple", "grape"]
print(l.index("apple"))

2

In [71]:
#45.Print only the even numbers from a given list.
l = [2,7,4,9,5,10,14]
for num in l:
    if num % 2 == 0:
        print(num)

2
4
10
14

In [72]:
#.Reverse a list by swapping elements (without [::-1]).
l = [1, 2, 3, 4, 5]
n = len(l)

for i in range(n // 2):
    l[i], l[n - 1 - i] = l[n - 1 - i], l[i]  

print("Reversed list:", l)

Reversed list: [5, 4, 3, 2, 1]

In [74]:
#47.Create a list of ten numbers and print only the unique elements.
l = [1, 2, 3, 2, 4, 5, 3, 6, 7, 5]
for i in l:
    if l.count(i) == 1:
        print(i)

1
4
6
7

In [75]:
#48.Print the sum of all elements in a list (without using sum()).
l = [1, 2, 3, 4, 5]
total = 0

for i in l:
    total += i

print("Sum:", total)

Sum: 15

In [76]:
#49.Move the first element of a list to the last position.
l = [10, 20, 30, 40, 50]

first = l.pop(0)  
l.append(first)  
print("Updated list:", l)

Updated list: [20, 30, 40, 50, 10]

In [77]:
#50.Create a list with mixed data types (int, float, string) and print each element with its type.
mixed_list = [10, 3.14, "hello", 25, "Python", 7.5]

for item in mixed_list:
    print(item, "->", type(item))

10 -> <class 'int'>
3.14 -> <class 'float'>
hello -> <class 'str'>
25 -> <class 'int'>
Python -> <class 'str'>
7.5 -> <class 'float'>