In [2]:
#51.Create a tuple of five numbers and print only the first three.
t =(1,2,3,4,5)
t[0:3]

(1, 2, 3)

In [6]:
#52.Print the last element of a tuple without using negative indexing.
t = (1, 2, 3, 4, 5)
t[len(t) - 1]

5

In [12]:
#53.Convert a tuple (1, 2, 3, 4, 5) into a list and add a new number
t = (1, 2, 3, 4, 5)
t = list(t)
t.append(6)

In [13]:
t

[1, 2, 3, 4, 5, 6]

In [15]:
#54.Try deleting an element from a tuple and observe the error.

t = (1, 2, 3, 4, 5)
t.remove()

AttributeError: 'tuple' object has no attribute 'remove'

In [22]:
#55.Extract the middle element from a tuple with an odd number of elements
t = (1, 2, 3, 4, 5)
middle= len(t) // 2
print(t[middle])

3

In [23]:
#56.Check if two tuples (1, 2, 3) and (3, 2, 1) are the same.
t =(1,2,3)
t1 =(3,2,1)
t == t1

False

In [27]:
#57.Create a nested tuple and print an inner element.
t = (1,2,(3,4),5)
t[2][1]

4

In [31]:
#58.Merge three tuples into one.
t1=(1,2,3)
t2=(4,5,6)
t3=(7,8,9)
t4 = t1+t2+t3

In [32]:
t4

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [34]:
#59.Find the index of 5 in the tuple (1, 3, 5, 7, 9).
t = (1,3,5,7,9)
t.index(5)

2

In [35]:
#60.Unpack a tuple into separate variables.
t = (1,2,3)
a, b, c = t
print(a)
print(b)
print(c)

1
2
3