In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r'Agent_Performance_Report.csv')

In [5]:
df

,Agent Performance Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
...,...,...,...,...,...,...,...,...
2156,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0
2157,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0
2158,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0
2159,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0
2160,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0

In [6]:
df.head()

,Agent Performance Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
1,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
2,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
3,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
4,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7

1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [8]:
df['Date'] = pd.to_datetime(df['Date'])

KeyError: 'Date'

In [9]:
df.columns

Index(['Agent Performance Report', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [10]:
df = pd.read_csv('Agent_Performance_Report.csv', skiprows=1)

In [11]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback'],
      dtype='object')

In [12]:
df['Date'] = pd.to_datetime(df['Date'])
df['Week'] = df['Date'].dt.isocalendar().week

In [16]:
weekly_avg = df.groupby('Week')['Average Rating'].mean()

In [17]:
weekly_avg

Week
26    0.998704
27    1.386647
28    1.548492
29    1.511389
30    1.617847
Name: Average Rating, dtype: float64

In [14]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback', 'Week'],
      dtype='object')

2 .Total working days for each agents

In [18]:
working_days = df.groupby('Agent Name')['Date'].nunique()

In [19]:
working_days

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: Date, Length: 70, dtype: int64

3. Total query that you hvae taken

In [20]:
total_queries = df['Total Chats'].sum()

In [21]:
total_queries

np.int64(14720)

5. total Feedback that you have received

In [26]:
df['Total Feedback'].sum()

np.int64(9259)

In [23]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback', 'Week'],
      dtype='object')

6 . Agent name who have rating lesss then 3.5

In [32]:
agent_avg_rating = df.groupby('Agent Name')['Average Rating'].mean()
print(agent_avg_rating[(agent_avg_rating >= 3.5) & (agent_avg_rating <= 4)])

Agent Name
Boktiar Ahmed Bappy    3.568000
Ishawant Kumar         3.543333
Khushboo Priya         3.703667
Manjunatha A           3.594667
Name: Average Rating, dtype: float64

7. Agents with rating less than 3.5

In [38]:
agent_avg_rating = df.groupby('Agent Name')['Average Rating'].mean()

In [39]:
agent_avg_rating

Agent Name
Abhishek         0.000000
Aditya           0.000000
Aditya Shinde    1.800333
Aditya_iot       2.345333
Amersh           0.000000
                   ...
Uday Mishra      0.000000
Vasanth P        0.000000
Vivek            0.500667
Wasim            2.400000
Zeeshan          2.287000
Name: Average Rating, Length: 70, dtype: float64

In [40]:
print(agent_avg_rating[agent_avg_rating < 3.5])

Agent Name
Abhishek         0.000000
Aditya           0.000000
Aditya Shinde    1.800333
Aditya_iot       2.345333
Amersh           0.000000
                   ...
Uday Mishra      0.000000
Vasanth P        0.000000
Vivek            0.500667
Wasim            2.400000
Zeeshan          2.287000
Name: Average Rating, Length: 65, dtype: float64

8. How many feedbacks with average rating > 4.5

In [43]:
high_rating = df[df['Average Rating'] > 4.5]
feedback_count = high_rating.groupby('Agent Name')['Total Feedback'].sum()
print(feedback_count)

Agent Name
Aditya Shinde              73
Aditya_iot                 43
Ameya Jain                150
Anirudh                     2
Ankitjha                    1
Aravind                   178
Ayushi Mishra              75
Bharath                   231
Boktiar Ahmed Bappy        52
Chaitra K Hiremath          5
Deepranjan Gupta           83
Harikrishnan Shaji         80
Hrisikesh Neogi           183
Ishawant Kumar             79
Jawala Prakash             33
Jayant Kumar                7
Jaydeep Dixit             179
Khushboo Priya            134
Madhulika G                67
Mahesh Sarade              46
Maitry                     81
Manjunatha A              132
Mithun S                   93
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                14
Nandani Gupta              91
Nishtha Jain               18
Prabir Kumar Satapathy     53
Prateek _iot               54
Prerna Singh               82
Rishav Dash                27
Saikumarreddy N           184
Sandipan Saha               1
Sanjeev Kumar             164
Saurabh Shukla              3
Shiva Srivastava            2
Shivan K                  130
Shivananda Sonwane        154
Shubham Sharma            155
Sowmiya Sivakumar          16
Sudhanshu Kumar             2
Suraj S Bilgi               4
Swati                     103
Vivek                       3
Wasim                     156
Zeeshan                    48
Name: Total Feedback, dtype: int64

Q9. Average weekly response time (per agent)

In [48]:
df['Average Response Time'] = pd.to_timedelta(df['Average Response Time'])

df['Response Seconds'] = df['Average Response Time'].dt.total_seconds()

df['Date'] = pd.to_datetime(df['Date'])  # or replace with correct column like 'Chat Date'
df['Week'] = df['Date'].dt.isocalendar().week

weekly_avg_response = df.groupby(['Agent Name', 'Week'])['Response Seconds'].mean()
weekly_avg_response_minutes = weekly_avg_response / 60
print(weekly_avg_response_minutes)

Agent Name  Week
Abhishek    26      0.000000
            27      0.000000
            28      0.000000
            29      0.000000
            30      0.000000
                      ...
Zeeshan     26      0.000000
            27      0.392857
            28      2.057143
            29      1.047619
            30      1.063889
Name: Response Seconds, Length: 350, dtype: float64

Q10. Average weekly resolution time (per agent)

In [50]:
df.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback', 'Week',
       'Response Seconds'],
      dtype='object')

In [53]:
df['Average Response Time'].unique()

<TimedeltaArray>
['0 days 00:00:38', '0 days 00:01:15', '0 days 00:00:30', '0 days 00:01:04',
 '0 days 00:01:11', '0 days 00:00:34', '0 days 00:00:31', '0 days 00:00:55',
 '0 days 00:01:31', '0 days 00:00:59',
 ...
 '0 days 00:06:43', '0 days 00:02:47', '0 days 00:01:50', '0 days 00:02:18',
 '0 days 00:04:09', '0 days 00:02:01', '0 days 00:03:46', '0 days 00:02:14',
 '0 days 00:02:03', '0 days 00:02:45']
Length: 144, dtype: timedelta64[ns]

In [55]:
df = df[df['Average Response Time'].str.count(':') == 2]

AttributeError: Can only use .str accessor with string values!

In [56]:
df['Average Response Time'] = df['Average Response Time'].astype(str)

In [57]:
df = df[df['Average Response Time'].str.count(':') == 2]