In [1]:
#Write a Python program to print all numbers from 1 to 10, but stop the loop immediately when reaching 5 using the break statement.#Expected Output:a = 1
while a <= 10:
    if a == 5:
        break
    print(a)
    a += 1

1
2
3
4

In [4]:
#Given a list of numbers [1, 2, 3, 4, 5], use a for loop to print the elements one by one. However, if the element is 3, skip it using the continue statement.
l = [1, 2, 3, 4, 5]
for i in l:
    if i == 3:
        continue
    print(i)

1
2
4
5

In [8]:
#Write a Python function that takes a string as input and checks if it contains the letter 'o'. If it does, print "Found 'o'" and use the break statement to stop searching.
str ="Hello World!"
for letter in str:
    if letter == 'o':
        print("found 'o'")
        break

found 'o'

In [10]:
#Given a list of numbers [1, 2, 3, 4, 5], use a for loop to double each element and print the result. However, if the element is 4, use the continue statement to skip it.
l = [1,2,3,4,5]
for i in l:
    if i ==4:
        continue
    print(i*2)

2
4
6
10

In [19]:
#Write a Python program to print all numbers from 1 to 20 using a while loop. However, stop the loop when reaching 15 using the break statement.
a = 1
while a<=20:
    if a == 16:
        break
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15